.source__slider {
    display: flex;
    align-items: center;
}
.slider__container {
    overflow-x: hidden;
}
.source__button {
    visibility: hidden;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    width: 40px;
}

.source__button svg:hover {
    fill: rgba(92, 214, 126);
    width: 22px;
}

.source__button:disabled {
    opacity: 0.2;
    cursor: auto;
    pointer-events: none;
}

.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 80px;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background-color: #fff;
    border: none;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 10px;
    text-align: center;
    color: black;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    font-size: large;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    background-color: rgba(92, 214, 126, 0.5);
    box-shadow: 0 0.5em 0.5em -0.4em #717472;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (max-width: 375px) {
    .sources {
        height: auto;
    }

    .source__item {
        margin: 0.5em;
        padding: 0.5em 5px;

    }
}