html, body
{
  height: 100%;
  margin: 0;
  background-color:#f0f0f0;
}

#root {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  background-color:rgb(255, 255, 255);

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(255, 255, 255);
}
