@import 'config';

/**
*** MAIN CONTAINER
**/

.main-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1276px;
    margin: 0 auto;
}

/**
*** HEADER
**/

header {
    height: 64px;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .header-logo-container {
        display: flex;
        margin-right: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 8px 20px; 

        .header-logo {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
    }
    a {
        color: $color-dark;
    }

}

.header-nav-container {

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;

        li {
            margin-left: 8px;
            padding: 12px 8px; 
            border-radius: $border-radius-btn;
        }

        li:hover {
            background-color: $color-primary-10;
        }

        a {
            padding: 12px 8px;
        }

        .link-unactive {
            background-color: $color-primary-10;
        }   
    }

    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: white;
        position: absolute;
        top: 64px;
        width: 100%;
        right: -100%;
        height: calc(100% - 64px);
        transition: transform 0.8s; 
    
        ul {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        font-size: 24px;
        font-weight: 600;
        line-height: 152%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
    }
}


// Burger menu

.header-nav-burger {
    display: none;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 18px;

        &::before {
            content: "";
            transform: translateY(-4px);
            display: block;
            width: 20px;
            height: 1px;
            background-color: $color-dark;
        }

        &::after {
            content: "";
            transform: translateY(4px);
            display: block;
            width: 20px;
            height: 1px;
            background-color: $color-dark;
        }
    }

    @media screen and (width <= 768px) {
        display: block;
    }

    @media screen and (width > 768px) {
        display: none;
    }
}   



.header-nav-burger-active {
    &::before {
        transform: translateY(0) rotate(45deg);
    }
    &::after {
        transform: translateY(-1px) rotate(-45deg);
    }
}



/**
*** MAIN
**/

main {
    background-color: $color-primary;
    border-radius: $border-radius-main;
}


/* FOOTER */

footer {
    text-align: center;
}

.footer-container {
    padding: 60px 8px;

    a {
        color: $color-dark;
    }
}

.footer-contacts {
    display: grid;
    gap: 12px;
    grid-template: auto / repeat(auto-fit, minmax(364px, 1fr));

    & > div {
        padding-top: 20px;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        background-color: $color-content-bg;
    
        a:hover {
                color: $color-primary;
        }

        h3 {
            padding-top: 20px;
            padding-bottom: 16px;
        }

    }
}

.footer-socials-icons {
    display: flex;
    justify-content: center;
    padding-top: 60px;

    & > div {
        padding: 12px;

        a:hover {
            svg path {
                stroke: $color-primary;
            }
        }
    }
}


.footer-copyright {
    p {
        padding-top: 12px;
    }

    a:hover {
        color: $color-primary;
    }
}


/**
*** HOME PAGE
**/

// background-image for ABOUT, SLIDER, BEST GIFTS, CTA
.section-hero, .section-about, .section-slider, .section-best-gifts, .section-cta {

    background-image: url("../img/background/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

// HERO, BEST GIFTS Buttons
.home-button {
    background-color: $color-dark;
    width: 235px;
    height: 56px;
    border: 0;
    border-radius: 20px;
    padding: 20px 32px;
    color: white;
    text-transform: uppercase;

    &:hover {
        background-color: white;
        color: $color-dark;
        cursor: pointer;
    }
}

.scrollUpBtn {
    width: 56px;
    height: 56px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid $color-primary;
    padding: 0;
    color: $color-primary;
    border-radius: 50%;
    position: fixed;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
    transition: all 0.4s;

}

// HERO SECTION
.section-hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../img/background/bg-ball.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    max-width: 432px;
    height: 400px;
    
    padding: 60px 0;
    color: white;
    text-align: center;
    align-items: center;

    p, h1 {
        margin: 0;
    }
    
    h1, p, form {
        padding-top: 12px;
    }
 
}

#hero-text {
    padding-top: 60px;
}


// ABOUT SECTION

.section-about {
    padding: 60px 8px;
}

.about-container {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(364px, 1fr));
    border-radius: 20px;
    background-color: white;
}

.about-text {
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    height: 528px;

    img {
        object-fit: cover;
        border-radius: 20px;
    }
}

.about-text {
    h2 {
       padding: 20px 0;
    }

    .text-caption {
        color: $color-primary;
    }
}

// SLIDER SECTION

.section-slider {
    overflow-x: hidden;
}
.slider-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

    padding-top: 60px;
    padding-bottom: 60px;

    max-width: 1348px;
    margin-left: auto;
    margin-right: 0;
}

.slider-header {
    text-align: center;

    h2 {
        padding-top: 18px;
    }

}

.slider-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;

    img {
        border-radius: 20px;
        width: 200px;
        height: 200px;
    }
}

// SLIDER SECTION BUTTONS

.slider-buttons {
    text-align: right;
    margin-right: 68px;
}

.slider-buttons button {
    color: white;
    background-color: transparent;
    font-size: 32px;
    width: 56px;
    height: 56px;
    margin-left: 18px;

    border-radius: $border-radius-main;
    border: 2px solid rgba(255, 255, 255, 0.5);

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &:hover {
        background-color: white;
        color: $color-primary;
        cursor: pointer;
    }

    &:disabled {
        cursor: auto;
        border: 2px solid rgba(255, 255, 255, 0.4);
        color: rgba(255, 255, 255, 0.4);
    }
    &:disabled:hover {
        background-color: transparent;
    }
}

// BEST GIFTS SECTION 

.gifts-container {
    padding: 60px 0;
}

.gifts-header {
    text-align: center;
    color: white;

    h2 {
        padding: 12px;
        margin: 0;
    }
}

.gifts-cards {
    display: grid;
    gap: 12px;
    grid-template: auto / repeat(auto-fit, 310px);
    justify-content: center;
}   

.gifts-cards-item {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 342px;
    background-color: $color-content-bg;
    border-radius: 20px;

    &:hover  {
        cursor: pointer;

        h3 {
            color: $color-primary;
        }
    }
}

.gifts-card-img {
    border-radius: 20px 20px 0 0;

    img {
        width: 100%;
    }
}

.gifts-card-text {
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: $border-radius-main;

    h3 {
        margin-top: 10px;
        text-transform: uppercase;
    }
    h4 {
        text-transform: uppercase;
    }
    &-work h4 {
        color: $color-tag-purple;
    }
    &-health h4 {
        color: $color-tag-green;
    }
    &-harmony h4 {
        color: $color-tag-pink;
    }
}

// Modal

.gifts-modal {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $color-dark-80;
    align-items: center;
    justify-content: center;

    &-item {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: fit-content;
        background-color: white;
        border-radius: $border-radius-main;

        transform: scale(0);
        opacity: 0;
        transition: all 0.4s;

        &-open {
            transform: scale(1);
            opacity: 1;
        }

        h4 {
            text-transform: uppercase;
        }

        .closeBtn {
            position: absolute;
            margin-top: 12px;
            margin-left: 350px;
            cursor: pointer;
        }

        .gifts-card-img {
            height: 230px;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .gifts-card-text {
            h4, h3 {
                margin-bottom: 8px;
            }
        }

        .gifts-modal-powers-container {
            padding: 0 20px 20px 20px;

            h4 {
                padding-bottom: 8px;
            }
        }

        .gifts-modal-powers {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
    
            p:first-child {
                margin-right: auto;
            }

            .modal-snowflake {
                padding-left: 8px;
            }
            .modal-snowflake-tansparent {
                opacity: 0.1;
            }
            span {
                width: 124.2px;
            }
        }
    }

}

// CTA SECTION

.section-cta {

    background-image: url("../img/background/bg-forest.png"), url("../img/background/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.cta-container {
    margin: auto;
    padding: 120px 0px;
    max-width: 426px;
    text-align: center;
    align-items: center;
    color: white;
}

.cta-content {
    padding: 60px 0;

    button {
        margin-top: 20px;
    }
}

.cta-timer-container {
    margin-top: 20px;
}

.cta-timer {
    display: flex;
    justify-content: center;
    margin: 8px 40px;
    padding: 8px 0;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: $border-radius-main;

    & div {
        width: 80px;
        color: white;
    }

}

.cta-separator {
    max-width: 1px;
    height: 20px;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.4);
}


/**
*** GIFTS PAGE
**/

/* Main GRID */

.section-gift-card {
    background-color: #FF4646;
    background-image: url("../img/background/bg-garland.png");
    background-position: top;
    background-repeat: no-repeat; 
    background-size: 100%;
    border-radius: $border-radius-main;
}


.gift-header-text {
    max-width: 426px;
    color: white;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.gifts-tabs {
    margin: 30px 0px;
    text-align: center;
    color: white;

    & > span {
        padding: 12px 20px;
        border-radius: 12px;
    }
    
    & > span:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }
    
    .gift-tab-active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}


@import 'media';