@media screen and (max-width: 768px) {

    // MAIN SECTION
    .main-section-container { 
        flex-direction: column;

    }

    // GALLOWS SECTION
    .gallows-section-container {
        width: 100%;
        height: 50%;

        .gallows-svg-container {
            
            svg {
                max-height: 320px;
            }
        }
    }

    // QUESTION SECTION
    .questions-container {
        width: 100%;
        height: 50%;

        .questions-guess-keyboard {
            padding: 20px 10px;
            
            &-char {
                max-width: 42px;
                max-height: 42px;
                font-size: 24px;
            }
        }
    }
    
}

@media screen and (max-width: 360px) {

    // MAIN SECTION
    .main-section-container {
        // max-width: 360px;  
        flex-direction: column;

        .start-box {
            max-width: 300px;
            padding: 8px;
        }


    }

    // GALLOWS SECTION


    // QUESTION SECTION
    .questions-container {

        .questions-guess-letters {
            font-size: 10px;
        }

        .questions-guess-keyboard {
            font-size: 10px;
            padding: 10px;
            
        }
    }
    
}