
@media screen and (width <= 768px) {

    // MAIN SECTION
    .main-section-container { 
        flex-direction: column;

        .start-box {
            max-width: 320px;
            padding: 8px;
        }
    }

    // GALLOWS SECTION
    .gallows-section-container {
        width: 100%;

        .gallows-svg-container {
            
            svg {
                max-height: 320px;
            }
        }
    }

    // QUESTION SECTION
    .questions-container {
        width: 100%;
        height: 80%;

        .questions-guess-keyboard {
            padding: 20px 10px;
            
            &-char {
                max-width: 42px;
                max-height: 42px;
                font-size: 24px;
            }
        }
    }
    
}


@media screen and (width <= 360px) {

    // MAIN SECTION

    // GALLOWS SECTION
    .gallows-section-container {
        // padding-top: 10px;
        align-content: center;

        .gallows-svg-container {
            
            svg {
                max-height: 180px;
            }
        }
    }

    // QUESTION SECTION
    .questions-container {

        .questions-guess-word {

            .questions-guess-letters {
                font-size: 1.6em;
            }
        }

        .questions-guess-keyboard {
            font-size: 10px;
            padding: 10px;
            
        }
    }
    
}

@media screen and (max-height: 708px) {

    html, body {
        height: auto;
    }


    // GALLOWS SECTION
    .gallows-section-container {
        height: auto;

    }

    // QUESTION SECTION
    .questions-container {
        height: auto;
    }

}