@media screen and (max-width: 780px) {

    // MAIN SECTION
    .main-section-container {
        // max-width: 360px;  
        flex-direction: column;

        .start-box {
            max-width: 300px;
            padding: 8px;
        }


    }

    // GALLOWS SECTION
    .gallows-section-container {
        width: 100%;
        height: 50%;

        .gallows-svg-container {
            
            svg {
                max-height: 320px;
            }
        }
    }

    // QUESTION SECTION
    .questions-container {
        width: 100%;
        height: 50%;

        .questions-guess-keyboard {
            padding: 10px;
            
        }
    }
    
}