@import 'config';

.main-section-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.start-box {
    max-width: 400px;
    height: fit-content;
    padding: 20px;
    border: 2px solid rgb(130, 130, 130);
    border-radius: $border-radius-main;
    box-shadow: 2px 2px 5px rgb(130, 130, 130);
    background-color: rgb(255, 255, 255);

    .start-box-title-container, .start-box-btn-container {
        text-align: center;
    }


    h1 {
        margin: 0;
        font-size: 48px;
    }

}

.gallows-section-container {
    display: inline;
    text-align: center;
    width: 50%;
    height: 100%;
    align-content: center;

    .gallows-svg-container {
        display:flex;
        justify-content: center;
        position: relative;
        margin-left: 20px;

        #gallows-img {
            max-width: 100%;
        }

        circle, rect, g {
            transition: all 1s;
        }

        .gallows-main {
            fill: #000000;
            stroke:rgb(255, 255, 255);
        }

    }
   
}

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    .questions-guess-word {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;

        .questions-guess-letters {
            margin: 0 12px;
            text-transform: uppercase;
            font-size: 36px;
        }
    }

    .questions-guess-hint {
        padding: 20px;
        font-size: 20px;
    }

    .questions-guess-counter {
        display: flex;
        font-size: 24px;
        &-text {
            padding: 8px;
        }
        &-int {
            padding: 8px;
        }  
    }

    .questions-guess-counter-int-wrong {
        color: darkred;
        font-weight: bold;
    }
    .questions-guess-keyboard {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        text-align: center;
        padding: 20px;

        &-char {
            background-color: rgb(197, 197, 197);
            width: 50px;
            height: 50px;
            font-size: 24px;
            border-radius: 5px;
            align-content: center;

            &:hover {
                cursor: pointer;
                background-color:bisque;
                font-size: 28px;
            }

            &-disabled {
                opacity: 0.2;

                &:hover {
                    cursor: auto;
                }
            }
        }

    }
}

.modal-container {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(24,28,41, 0.8); 
    align-items: center;
    justify-content: center;

    &-box {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: fit-content;
        margin: 0 8px;
        padding: 20px;
        background-color: white;
        border-radius: $border-radius-main;
        text-align: center;
        font-size: 18px;

        transform: scale(0);
        opacity: 0;
        transition: all 0.4s;

        &-open {
            transform: scale(1);
            opacity: 1;
        }

        h1, p {
            margin: 12px 0;
        }

        #modal-gameWinsScore {
            color: darkcyan;
        }
        #modal-gameLossesScore {
            color: darkred;
        }

        button {
            margin-top: 12px;
        }
        .modalReset {
            padding-top: 10px;
            
            a {
                font-size: 12px;
                color: gray;
                text-decoration: none;

                &:hover {
                    color: black;
                    font-weight: bold;
                }
            }
        }
        
    }
}

@import 'media';