/* MAIN */

/* Main GRID */

.main-section {
    grid-area: main;
    background-color: #FF4646;
    background-image: url("../img/background/bg-garland.png");
    background-position: top;
    background-repeat: no-repeat; 
    background-size: 100%;
    border-radius: 20px;
}

/* GIFTS section */

.gifts-section {
    margin: 60px 82px;
    display: flex;
    flex-direction: column;
}

.gifts-section > div {
    justify-items: center;
    text-align: center;
}

.gifts-header-text {
    width: 426px;
    color: white;
    text-transform: uppercase;
}

.gifts-tabs {
    margin: 20px 0px;
}

.gifts-tabs > span {
    padding: 12px 20px;
    border-radius: 12px;
}

.gifts-tabs > span:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.gifts-tabs a {
    text-decoration: none;
    color: white;
}

.gifts-items-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 12px;
    padding: 20px 0px;
}

.gifts-cards-item:hover {
    cursor: pointer;
}

.gifts-cards-item:hover h3 {
    color:#FF4646;
}

