@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
}

h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.text-caption {
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.text-action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text-action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.text-slider {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-nav-active {
  background-color: rgba(255, 70, 70, 0.1);
}
.header-nav-active a {
  cursor: auto;
}

/* MAIN */
/* Main GRID */
.section-gift-card {
  background-color: #FF4646;
  background-image: url("../img/background/bg-garland.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}

/* GIFTS section */
.gift-card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 60px 0;
}

.gift-header {
  justify-self: center;
  text-align: center;
  align-items: center;
  padding: 0 8px;
}
.gift-header .gift-header-text {
  max-width: 426px;
  color: white;
  text-transform: uppercase;
}

.gift-tabs {
  margin: 30px 0px;
}
.gift-tabs > span {
  padding: 12px 20px;
  border-radius: 12px;
}
.gift-tabs > span:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.gift-tabs a {
  text-decoration: none;
  color: white;
}
.gift-tabs .gift-tab-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.gift-card-item-container {
  width: 100%;
  display: grid;
  gap: 12px;
  grid-template: auto/repeat(auto-fit, 310px);
  justify-content: center;
}
.gift-card-item-container .gift-card-item {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 342px;
  background-color: #ECF3F8;
  border-radius: 20px;
}
.gift-card-item-container .gift-card-item img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.gift-card-item-container .gift-card-item .gift-card-text {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: left;
}
.gift-card-item-container .gift-card-item .gift-card-text h3 {
  margin-top: 10px;
}
.gift-card-item-container .gift-card-item .gift-card-text-work h4 {
  color: #4361FF;
}
.gift-card-item-container .gift-card-item .gift-card-text-health h4 {
  color: #06A44F;
}
.gift-card-item-container .gift-card-item .gift-card-text-harmony h4 {
  color: #FF43F7;
}
.gift-card-item-container .gift-card-item:hover {
  cursor: pointer;
}
.gift-card-item-container .gift-card-item:hover h3 {
  color: #FF4646;
}

@media screen and (max-width: 768px) {
  .header-nav-container {
    display: none;
  }
  .header-nav-burger {
    padding-right: 20px;
  }
  .header-nav-burger::before {
    content: "";
    transform: translateY(-4px);
    display: block;
    width: 20px;
    height: 1px;
    background-color: #181C29;
  }
  .header-nav-burger::after {
    content: "";
    transform: translateY(4px);
    display: block;
    width: 20px;
    height: 1px;
    background-color: #181C29;
  }
  .cta-container {
    padding-top: 130px;
  }
  .cta-container button {
    padding-top: 10px;
  }
  .footer-contacts {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 380px) {
  .header-container {
    padding: 10px 8px;
  }
  .section-about {
    padding-top: 120px;
  }
  .about-text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cta-container {
    padding-top: 120px;
  }
  .cta-timer {
    margin: 8px 18px;
  }
  .gift-tabs > span {
    padding: 12px 8px;
  }
  .footer-socials-icons {
    padding-top: 30px;
  }
}