@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
}

h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.text-caption {
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.text-action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text-action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.text-slider {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

/* MAIN */
/* Main GRID */
.main-section {
  grid-area: main;
  background-color: #FF4646;
  background-image: url("../img/background/bg-garland.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}

/* GIFTS section */
.gifts-section {
  margin: 60px 82px;
  display: flex;
  flex-direction: column;
}

.gifts-section > div {
  justify-items: center;
  text-align: center;
}

.gifts-header-text {
  width: 426px;
  color: white;
  text-transform: uppercase;
}

.gifts-tabs {
  margin: 20px 0px;
}

.gifts-tabs > span {
  padding: 12px 20px;
  border-radius: 12px;
}

.gifts-tabs > span:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.gifts-tabs a {
  text-decoration: none;
  color: white;
}

.gift-card-container {
  display: grid;
  gap: 12px;
  grid-template: auto/repeat(auto-fit, 310px);
  justify-content: center;
}

.gift-card-item {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 342px;
  background-color: #ECF3F8;
  border-radius: 20px;
}
.gift-card-item:hover {
  cursor: pointer;
}
.gift-card-item:hover h3 {
  color: #FF4646;
}

.gifts-header {
  text-align: center;
  color: white;
}

.gift-card-img {
  border-radius: 20px 20px 0 0;
}
.gift-card-img img {
  width: 100%;
}

.gift-card-text {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.gift-card-text h3 {
  margin-top: 10px;
}
.gift-card-text-work h4 {
  color: #4361FF;
}
.gift-card-text-health h4 {
  color: #06A44F;
}
.gift-card-text-harmony h4 {
  color: #FF43F7;
}