@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  scroll-behavior: smooth;
  transition: background-color 3.2s ease-in;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
}

h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.text-caption {
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.text-action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text-action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.text-slider {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background/bg-ball.png"), url("../img/background/bg-snow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 432px;
  height: 400px;
  padding: 60px 0;
  color: white;
  text-align: center;
  align-items: center;
}
.hero-container p, .hero-container h1 {
  margin: 0;
}
.hero-container h1, .hero-container p, .hero-container form {
  padding-top: 12px;
}

#hero-text {
  padding-top: 60px;
}

.section-about, .section-slider, .section-best-gifts, .section-cta {
  background-image: url("../img/background/bg-snow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-about {
  padding: 60px 8px;
}

.about-container {
  display: grid;
  grid-template: auto/repeat(auto-fit, minmax(364px, 1fr));
  border-radius: 20px;
  background-color: white;
}

.about-text {
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  height: 528px;
}
.about-img img {
  object-fit: cover;
  border-radius: 20px;
}

.about-text h2 {
  padding: 20px 0;
}
.about-text .text-caption {
  color: #FF4646;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1348px;
  margin-left: auto;
  margin-right: 0;
}

.slider-header {
  text-align: center;
}
.slider-header h2 {
  padding-top: 18px;
}

.slider-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  column-gap: 20px;
}
.slider-main img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.best-gifts-container {
  padding: 60px 0;
}

.best-gifts-header h2 {
  padding: 12px;
  margin: 0;
}

.best-gifts-cards {
  display: grid;
  gap: 12px;
  grid-template: auto/repeat(auto-fit, 310px);
  justify-content: center;
}

.gifts-cards-item {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 342px;
  background-color: #ECF3F8;
  border-radius: 20px;
}
.gifts-cards-item:hover {
  cursor: pointer;
}
.gifts-cards-item:hover h3 {
  color: #FF4646;
}

.best-gifts-header {
  text-align: center;
  color: white;
}

.gifts-card-img {
  border-radius: 20px 20px 0 0;
}
.gifts-card-img img {
  width: 100%;
}

.gifts-card-text {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.gifts-card-text h3 {
  margin-top: 10px;
}
.gifts-card-text-work h4 {
  color: #4361FF;
}
.gifts-card-text-health h4 {
  color: #06A44F;
}
.gifts-card-text-harmony h4 {
  color: #FF43F7;
}

.section-cta {
  background-image: url("../img/background/bg-forest.png"), url("../img/background/bg-snow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-container {
  margin: auto;
  padding: 120px 0px;
  max-width: 426px;
  text-align: center;
  align-items: center;
  color: white;
}

.cta-content {
  padding: 60px 0;
}
.cta-content button {
  margin-top: 20px;
}

.cta-timer-container {
  margin-top: 20px;
}

.cta-timer {
  display: flex;
  justify-content: center;
  margin: 8px 40px;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.cta-timer div {
  width: 80px;
  color: white;
}

.cta-separator {
  max-width: 1px;
  height: 20px;
  margin: auto 0;
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 1440px) {
  .slider-buttons {
    margin-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .header-nav-container {
    display: none;
  }
  .header-nav-burger {
    padding-right: 20px;
  }
  .header-nav-burger::before {
    content: "";
    transform: translateY(-4px);
    display: block;
    width: 20px;
    height: 1px;
    background-color: #181C29;
  }
  .header-nav-burger::after {
    content: "";
    transform: translateY(4px);
    display: block;
    width: 20px;
    height: 1px;
    background-color: #181C29;
  }
  .slider-buttons {
    margin-right: 2%;
  }
  .cta-container {
    padding-top: 130px;
  }
  .cta-container button {
    padding-top: 10px;
  }
  .footer-contacts {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 380px) {
  .header-container {
    padding: 10px 8px;
  }
  .section-about {
    padding-top: 120px;
  }
  .about-text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cta-container {
    padding-top: 120px;
  }
  .cta-timer {
    margin: 8px 18px;
  }
  .gift-tabs > span {
    padding: 12px 8px;
  }
  .footer-socials-icons {
    padding-top: 30px;
  }
}