@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  scroll-behavior: smooth;
  transition: background-color 3.2s ease-in;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
}

h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.text-caption {
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.text-action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text-action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.text-slider {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1276px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  text-align: center;
  background-color: white;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.header-container .header-logo-container {
  display: flex;
  margin-right: auto;
  padding: 8px 20px;
}
.header-container .header-logo-container .header-logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.header-container a {
  color: #181C29;
}
.header-container ul {
  display: flex;
  list-style-type: none;
}
.header-container ul li {
  margin-left: 8px;
  padding: 12px 20px;
  border-radius: 12px;
}
.header-container ul li:hover {
  background-color: rgba(255, 70, 70, 0.1);
}
.header-container ul a {
  padding: 12px 20px;
}

main {
  background-color: #FF4646;
  border-radius: 20px;
}

/* FOOTER */
footer {
  text-align: center;
}

.footer-container {
  padding: 60px 8px;
}
.footer-container a {
  color: #181C29;
}

.footer-contacts {
  display: grid;
  gap: 12px;
  grid-template: auto/repeat(auto-fit, minmax(364px, 1fr));
}
.footer-contacts > div {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  background-color: #ECF3F8;
}
.footer-contacts > div a:hover {
  color: #FF4646;
}
.footer-contacts > div h3 {
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer-socials-icons {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.footer-socials-icons > div {
  padding: 12px;
}
.footer-socials-icons > div a:hover svg path {
  stroke: #FF4646;
}

.footer-copyright p {
  padding-top: 12px;
}
.footer-copyright a:hover {
  color: #FF4646;
}

.home-button {
  background-color: #181C29;
  width: 235px;
  height: 56px;
  border: 0;
  border-radius: 20px;
  padding: 20px 32px;
  color: white;
  text-transform: uppercase;
}
.home-button:hover {
  background-color: white;
  color: #181C29;
  cursor: pointer;
}

.slider-buttons {
  text-align: right;
  margin-right: 68px;
}

.slider-buttons button {
  color: white;
  background-color: transparent;
  font-size: 32px;
  width: 56px;
  height: 56px;
  margin-left: 18px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.slider-buttons button span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-buttons button:hover {
  background-color: white;
  color: #FF4646;
  cursor: pointer;
}
.slider-buttons button:disabled {
  cursor: auto;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}
.slider-buttons button:disabled:hover {
  background-color: transparent;
}