@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body
{
    height: 100%;
    margin: 0;
    font-family: Montserrat, Arial, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 18%;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 8%;
}

h4 {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
}

.text-caption {
    font-family: Allura;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 5%;
}

.action-small {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
}

.action-large {
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
}

.container {
    width: 1440px;
    height: 100%;
    margin: 0px auto;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 64px auto auto;
    grid-template-areas: "header"
                         "main"
                         "footer";

}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    margin: 0 80px;
    height: 100%;
    grid-area: header;
    background-color: rgb(255, 255, 255);
}

.header > div {
    padding: 12px 20px;
    align-self: center;
}

.header a {
    text-decoration: none;
    color: #181C29;
}

.header-nav {
    border-radius: 12px;
}
.header-nav:hover {
    background-color: rgb(255,70,70, 0.1);
}
.header-nav:hover > a {
    color: #FF4646;
}

.logo {
    margin-right: auto;
    background-color: aqua;
}

.logo-container {
    display: flex;
    margin-right: auto;
}
.logo-container > div {
    align-self: center;
}

#text {
   padding-left: 10px; 
}


/* FOOTER */

.footer {
    grid-area: footer;
    margin: 82px 60px;
    text-align: center;
    padding-bottom: 60px;
}

.footer-contacts {
    display: flex;
    justify-content: space-around;
}

.footer-contacts > div {
    padding: 12px;
    margin: 12px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background-color: #ECF3F8;
}

.footer-contacts a {
    text-decoration: none;
    color: #181C29;
    text-transform: uppercase;
}

.footer-socials-icons {
    display: flex;
    justify-content: center;
}

.footer-socials-icons > div {
    padding: 12px;
}

.footer-socials a {
    text-decoration: none;
    color: #181C29;
}


/* GIFTS cards */

.gifts-cards-item {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: auto;
    background-color: #ECF3F8;
    border-radius: 20px;
}

.gifts-cards-item img {
    width: 100%;
    height: 100%;
}

.gifts-card-text {
    height: 100%;
    background-color: white;
    padding: 8px 20px;
    text-align: left;
    text-transform: uppercase;
    border-radius: 20px;
}

.gifts-card-text-work h4 {
    color: #4361FF;
}

.gifts-card-text-health h4 {
    color: #06A44F;
}

.gifts-card-text-harmony h4 {
    color: #FF43F7;
}

.gifts-header h2 {
    color: white;
    text-transform: uppercase;
}
.gifts-card-text h3 {
    color: #181C29;
}
