@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400..700&family=Coming+Soon&family=Crafty+Girls&family=Fuzzy+Bubbles:wght@400;700&family=Kirang+Haerang&family=Klee+One&family=Pangolin&family=Playpen+Sans:wght@100..800&display=swap");
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border-radius: 12px;
  padding: 12px;
}
button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(130, 130, 130);
  color: rgb(255, 255, 255);
}

.game-title {
  font-family: "Kirang Haerang", serif;
  font-weight: 400;
  font-style: normal;
}

.text-regular {
  font-family: "Klee One", serif;
  font-weight: 400;
  font-style: normal;
}

.main-section-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.start-box {
  max-width: 400px;
  height: fit-content;
  padding: 20px;
  border: 2px solid rgb(130, 130, 130);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(130, 130, 130);
  background-color: rgb(255, 255, 255);
}
.start-box .start-box-title-container, .start-box .start-box-btn-container {
  text-align: center;
}
.start-box h1 {
  margin: 0;
  font-size: 48px;
}

.gallows-section-container {
  display: inline;
  text-align: center;
  width: 50%;
  height: 100%;
  align-content: center;
}
.gallows-section-container .gallows-svg-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 20px;
}
.gallows-section-container .gallows-svg-container #gallows-img {
  max-width: 100%;
}
.gallows-section-container .gallows-svg-container circle, .gallows-section-container .gallows-svg-container rect, .gallows-section-container .gallows-svg-container g {
  transition: all 1s;
}
.gallows-section-container .gallows-svg-container .gallows-main {
  fill: #000000;
  stroke: rgb(255, 255, 255);
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.questions-container .questions-guess-word {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.questions-container .questions-guess-word .questions-guess-letters {
  margin: 0 12px;
  text-transform: uppercase;
  font-size: 36px;
}
.questions-container .questions-guess-hint {
  padding: 20px;
  font-size: 20px;
}
.questions-container .questions-guess-counter {
  display: flex;
  font-size: 24px;
}
.questions-container .questions-guess-counter-text {
  padding: 8px;
}
.questions-container .questions-guess-counter-int {
  padding: 8px;
}
.questions-container .questions-guess-counter-int-wrong {
  color: darkred;
  font-weight: bold;
}
.questions-container .questions-guess-keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.questions-container .questions-guess-keyboard-char {
  background-color: rgb(197, 197, 197);
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 5px;
  align-content: center;
}
.questions-container .questions-guess-keyboard-char:hover {
  cursor: pointer;
  background-color: bisque;
  font-size: 28px;
}
.questions-container .questions-guess-keyboard-char-disabled {
  opacity: 0.2;
}
.questions-container .questions-guess-keyboard-char-disabled:hover {
  cursor: auto;
}

.modal-container {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(24, 28, 41, 0.8);
  align-items: center;
  justify-content: center;
}
.modal-container-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  margin: 0 8px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s;
}
.modal-container-box-open {
  transform: scale(1);
  opacity: 1;
}
.modal-container-box h1, .modal-container-box p {
  margin: 12px 0;
}
.modal-container-box #modal-gameWinsScore {
  color: darkcyan;
}
.modal-container-box #modal-gameLossesScore {
  color: darkred;
}
.modal-container-box button {
  margin-top: 12px;
}
.modal-container-box .modalReset {
  padding-top: 10px;
}
.modal-container-box .modalReset a {
  font-size: 12px;
  color: gray;
  text-decoration: none;
}
.modal-container-box .modalReset a:hover {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .main-section-container {
    flex-direction: column;
  }
  .gallows-section-container {
    width: 100%;
    height: 50%;
  }
  .gallows-section-container .gallows-svg-container svg {
    max-height: 320px;
  }
  .questions-container {
    width: 100%;
    height: 50%;
  }
  .questions-container .questions-guess-keyboard {
    padding: 20px 10px;
  }
  .questions-container .questions-guess-keyboard-char {
    max-width: 42px;
    max-height: 42px;
    font-size: 24px;
  }
}
@media screen and (max-width: 360px) {
  .main-section-container {
    flex-direction: column;
  }
  .main-section-container .start-box {
    max-width: 300px;
    padding: 8px;
  }
  .questions-container .questions-guess-letters {
    font-size: 10px;
  }
  .questions-container .questions-guess-keyboard {
    font-size: 10px;
    padding: 10px;
  }
}