.container__user-list {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 20px 30px;
  background-color: rgba(147, 168, 168, 0.5);
  border-radius: 20px;
  padding: 16px;
}

.user-list-search {
  margin: 10px;
  .input__user-list-search {
    height: 20px;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 12px;
  }
}

.ul__user-list-names {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.li__user-list {
  font-size: 22px;
  margin-left: 10px;
  padding-left: 20px;

  &::marker {
    color: red;
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(206, 216, 216);
  }
}

.li__user-list-active {
  &::marker {
    color: green;
  }
}

.li__user-list-inactive {
  &::marker {
    color: grey;
  }
}

.li__user-list-messages {
  border-radius: 50px;
  // background-color: rgb(146, 179, 125);
  margin-left: 10px;
  padding: 2px 6px;
  font-size: 16px;
  color: rgb(122, 12, 21);
}
