.no-connection-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(143, 79, 79, 0.2);

  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.view-blur {
  filter: blur(3px);
  overflow: hidden;
}
