// Modify section
.section__modify {
  margin: 20px;
  width: 100%;
  text-align: center;
}


.container__modify {
  display: flex;
  margin: 12px;
  justify-content: center;
  align-items: center;

  input {
    margin-right: 12px;
  }
  
  .input__garage-text {
    height: 26px;
    width: 220px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 4px;
  }

  .input__garage-color {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    border: 1px solid rgb(78, 78, 78);
  }
  
  .button__modify {
    padding: 8px;
    margin-left: 10px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 4px;

    &:hover:enabled {
      background-color: rgb(190, 64, 64);
    }
  }
}

// Control Button Section
.section__control {
  margin: 10px 0;
}

.control-btn-container {
  text-align: center;
}

.button__control {
  padding: 12px;
  margin-left: 10px;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 4px;

  &:hover:enabled {
      background-color: rgb(190, 64, 64);
  }
}

// Garage section
.section__garage {
  width: 100%;
}

.garage-header {
  display: flex;
  justify-content: center;
}

#button__race-control {
  margin-left: 80px;
  height: 40px;
  padding: 12px
}

.garage-car-name {
  display: flex;
  margin-bottom: 8px;
}

.img__garage-car-logo {
  height: 20%;
}



.text__garage-car {
  padding: 8px;
  margin: 0;
}

.button__garage {
  padding: 4px;
  border-radius: 4px;
  margin-left: 6px;

  &:hover {
      background-color: rgb(190, 64, 64);
  }
}

// RACE
.garage-race {
  display: flex;
  column-gap: 8px;
  width: 100%;
  align-items: center;
  margin-bottom: 8px;
  background-color: rgb(200, 212, 212);
  border-bottom: 2px dashed black;

  &-buttons button {
    padding: 8px;
    margin-left: 6px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgb(33, 163, 109);
    }
  }

  &-car-logo {
    flex-grow: 1;
  }

  &-finish-logo {

    .img__race-finish {
        margin-right: 110px;
        padding: 6px;
        height: 45px;
    }
  }


}

.img__race-end {
  fill: rgb(16, 122, 33);
}

.button__garage-title {
  padding: 8px;
  margin-left: 20px;
}

// PAGINATION

.container__pagination {
  text-align: center;
}