// HERO Buttons

.home-button {
    background-color: $color-dark;
    width: 235px;
    height: 56px;
    border: 0;
    border-radius: 20px;
    padding: 20px 32px;
    color: white;
    text-transform: uppercase;

    &:hover {
        background-color: white;
        color: $color-dark;
        cursor: pointer;
    }
}

// SLIDER Buttons

.slider-buttons {
    text-align: right;
}

.slider-buttons button {
    color: white;
    background-color: transparent;
    font-size: 32px;
    width: 56px;
    height: 56px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: $border-radius-main;
    border: 2px solid rgba(255, 255, 255, 0.5);

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &:hover {
        background-color: white;
        color: $color-primary;
        cursor: pointer;
    }

    &:disabled {
        cursor: auto;
        border: 2px solid rgba(255, 255, 255, 0.4);
        color: rgba(255, 255, 255, 0.4);
    }
    &:disabled:hover {
        background-color: transparent;
    }
}