@media screen and (max-width: 1440px) {
    
    .slider-buttons {
        margin-right: 5%;
    }
}

@media screen and (max-width: 768px) {  

    .header-nav-container {
        display: none;
    }

    .header-nav-burger {
        padding-right: 20px;
    }   
    .header-nav-burger::before {
        content: "";
        transform: translateY(-4px);
        display: block;
        width: 20px;
        height: 1px;
        background-color: $color-dark;
    }

    .header-nav-burger::after {
        content: "";
        transform: translateY(4px);
        display: block;
        width: 20px;
        height: 1px;
        background-color: $color-dark;
    }

    .slider-buttons {
        margin-right: 2%;
    }
    
    .cta-container {
        padding-top: 130px;

        button {
            padding-top: 10px;
        }
    }

    .footer-contacts {
        grid-template-columns: 1fr;
        gap: 30px;
    }

}

@media screen and (max-width: 380px) {
    // HEADER
    .header-container {
        padding: 10px 8px;
    }

    // HOME PAGE
    .section-about {
        padding-top: 120px;
    }

    .about-text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .cta-container {
        padding-top: 120px;
    }

    .cta-timer {
        margin: 8px 18px;
    }

    // GIFTS PAGE
    .gift-tabs {

        & > span {
            padding: 12px 8px;
        }
    }

    .footer-socials-icons {
        padding-top: 30px;
    }
}  