@import 'config';
/* MAIN */

/* Main GRID */

.main-section {
    grid-area: main;
    background-color: #FF4646;
    background-image: url("../img/background/bg-garland.png");
    background-position: top;
    background-repeat: no-repeat; 
    background-size: 100%;
    border-radius: 20px;
}

/* GIFTS section */

.gifts-section {
    margin: 60px 82px;
    display: flex;
    flex-direction: column;
}

.gifts-section > div {
    justify-items: center;
    text-align: center;
}

.gifts-header-text {
    width: 426px;
    color: white;
    text-transform: uppercase;
}

.gifts-tabs {
    margin: 20px 0px;
}

.gifts-tabs > span {
    padding: 12px 20px;
    border-radius: 12px;
}

.gifts-tabs > span:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.gifts-tabs a {
    text-decoration: none;
    color: white;
}

// .gifts-items-container {
//     display: grid;
//     grid-template-columns: auto auto auto auto;
//     gap: 12px;
//     padding: 20px 0px;
// }

// .gifts-cards-item:hover {
//     cursor: pointer;
// }

// .gifts-cards-item:hover h3 {
//     color:#FF4646;
// }

.gift-card-container {
    display: grid;
    gap: 12px;
    grid-template: auto / repeat(auto-fit, 310px);
    justify-content: center;
}   

.gift-card-item {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 342px;
    background-color: $color-content-bg;
    border-radius: 20px;

    &:hover  {
        cursor: pointer;

        h3 {
            color: $color-primary;
        }
    }
}

.gifts-header {
    text-align: center;
    color: white;
}

.gift-card-img {
    border-radius: 20px 20px 0 0;

    img {
        width: 100%;
    }
}

.gift-card-text {
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: $border-radius-main;

    h3 {
        margin-top: 10px;
    }
    &-work h4 {
        color: $color-tag-purple;
    }
    &-health h4 {
        color: $color-tag-green;
    }
    &-harmony h4 {
        color: $color-tag-pink;
    }
}
