@import 'config';

// HEADER

.header-nav-active {
    background-color: $color-primary-10;
    a {
        cursor: auto;
    }    
}
/* MAIN */

/* Main GRID */

.section-gift-card {
    background-color: #FF4646;
    background-image: url("../img/background/bg-garland.png");
    background-position: top;
    background-repeat: no-repeat; 
    background-size: 100%;
    border-radius: 20px;
}

/* GIFTS section */

.gift-card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 60px 0;
}

.gift-header {
    justify-self: center;
    text-align: center;
    align-items: center;
    padding: 0 8px;

    .gift-header-text {
        max-width: 426px;
        color: white;
        text-transform: uppercase;
    }
    
}

.gift-tabs {
    margin: 30px 0px;

    & > span {
        padding: 12px 20px;
        border-radius: 12px;
    }
    
    & > span:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    a {
        text-decoration: none;
        color: white;
    }

    .gift-tab-active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}



.gift-card-item-container {
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template: auto / repeat(auto-fit, 310px);
    justify-content: center; 

    .gift-card-item {
        display: flex;
        flex-direction: column;
        width: 310px;
        height: 342px;
        background-color: $color-content-bg;
        border-radius: 20px;

        img {
            border-radius: 20px 20px 0 0;
            width: 100%;
        }

        .gift-card-text {
            height: 100%;
            padding: 20px;
            background-color: white;
            border-radius: $border-radius-main;
            text-align: left;
                

            h3 {
                margin-top: 10px;
            }
            &-work h4 {
                color: $color-tag-purple;
            }
            &-health h4 {
                color: $color-tag-green;
            }
            &-harmony h4 {
                color: $color-tag-pink;
            }
        }

        &:hover  {
            cursor: pointer;

            h3 {
                color: $color-primary;
            }
        }
    }

}

@import 'media';