@import 'config';

// HERO SECTION
.section-hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../img/background/bg-ball.png"), url("../img/background/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    max-width: 432px;
    height: 400px;
    
    padding: 60px 0;
    color: white;
    text-align: center;
    align-items: center;

    p, h1 {
        margin: 0;
    }
    
    h1, p, form {
        padding-top: 12px;
    }
 
}

#hero-text {
    padding-top: 60px;
}

// background img for ABOUT, SLIDER, BEST GIFTS, CTA

.section-about, .section-slider, .section-best-gifts, .section-cta {

    background-image: url("../img/background/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

// ABOUT

.section-about {
    padding: 60px 8px;
}

.about-container {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(364px, 1fr));
    border-radius: 20px;
    background-color: white;
}

.about-text {
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    height: 528px;

    img {
        object-fit: cover;
        border-radius: 20px;
    }
}

.about-text {
    h2 {
       padding: 20px 0;
    }

    .text-caption {
        color: $color-primary;
    }
}


// SLIDER

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

    padding: 60px 0;

}

.slider-header {
    text-align: center;

    h2 {
        padding-top: 18px;
    }

}

.slider-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    column-gap: 20px;

    img {
        border-radius: 20px;
        width: 200px;
        height: 200px;
    }
}


// BEST GIFTS 

.best-gifts-container {
    padding: 60px 0;
}

.best-gifts-header {
    h2 {
        padding: 12px;
        margin: 0;
    }
}

.best-gifts-cards {
    display: grid;
    gap: 12px;
    grid-template: auto / repeat(auto-fit, 310px);
    justify-content: center;
}   

.gifts-cards-item {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 342px;
    background-color: $color-content-bg;
    border-radius: 20px;

    &:hover  {
        cursor: pointer;

        h3 {
            color: $color-primary;
        }
    }
}

.best-gifts-header {
    text-align: center;
    color: white;
}

.gifts-card-img {
    border-radius: 20px 20px 0 0;

    img {
        width: 100%;
    }
}

.gifts-card-text {
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: $border-radius-main;

    h3 {
        margin-top: 10px;
    }
    &-work h4 {
        color: $color-tag-purple;
    }
    &-health h4 {
        color: $color-tag-green;
    }
    &-harmony h4 {
        color: $color-tag-pink;
    }
}


// CTA

.section-cta {

    background-image: url("../img/background/bg-forest.png"), url("../img/background/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.cta-container {
    margin: auto;
    padding: 120px 0px;
    max-width: 426px;
    text-align: center;
    color: white;
}

.cta-content {
    padding: 60px 0;

    button {
        margin-top: 20px;
    }
}

.cta-timer-container {
    margin-top: 20px;
}

.cta-timer {
    display: flex;
    justify-content: center;
    margin: 8px 40px;
    padding: 8px 0;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: $border-radius-main;

    & div {
        width: 80px;
        color: white;
    }

}

.cta-separator {
    max-width: 1px;
    height: 20px;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.4);
}

@import 'media';