@import 'config';

// main-container

.main-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1276px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

header {
    text-align: center;
    background-color: white;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .header-logo-container {
        display: flex;
        margin-right: auto;
        padding: 8px 20px; 

        .header-logo {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
    }

    ul {
        display: flex;
        list-style-type: none;

        li {
            margin-left: 8px;
            padding: 12px 20px; 
            border-radius: $border-radius-btn;
        }

        li:hover {
            background-color: $color-primary-10;
        }

        a {
            padding: 12px 20px;
            color: $color-dark;
        }
    }
}

// MAIN

main {
    background-color: $color-primary;
    border-radius: $border-radius-main;
}

/* FOOTER */

footer {
    text-align: center;
}

.footer-container {
    padding: 60px 8px;

    a {
        color: $color-dark;
    }
}

.footer-contacts {
    display: grid;
    gap: 12px;
    grid-template: auto / repeat(auto-fit, minmax(364px, 1fr));

    & > div {
        padding-top: 20px;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        background-color: $color-content-bg;
    
        a:hover {
                color: $color-primary;
        }

        h3 {
            padding-top: 20px;
            padding-bottom: 16px;
        }

    }
}

.footer-socials-icons {
    display: flex;
    justify-content: center;
    padding-top: 60px;

    & > div {
        padding: 12px;
    }
}

.footer-copyright {
    p {
        padding-top: 12px;
    }

    a:hover {
        color: $color-primary;
    }
}

@import 'buttons';