.container__chat {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 20px auto;
}

// MESSAGES HEADER

.chat-header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(147, 168, 168, 0.5);
  padding: 18px;
  border-radius: 20px;
}

// MESSAGES HISTORY
.chat-history {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20px 0;
  scrollbar-color: rgb(134, 130, 130) #f0f0f0;
  scrollbar-width: thin;

  .user-message-container {
    display: flex;
    flex-direction: column;

    width: 96%;
    margin: 20px;
  }

  .user-message-container-me {
    align-items: flex-end;
  }
  .user-message-container-user {
    align-items: flex-start;
  }

  .user-message-bulb {
    min-width: fit-content;
    border-radius: 20px;
    padding: 16px 16px 8px 16px;
  }

  .user-message-status {
    display: flex;
    justify-content: flex-end;
    color: rgb(38, 38, 38);
    font-size: 12px;
    padding-top: 6px;

    .user-message-menu {
      padding-left: 8px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .user-messages-me {
    background-color: rgb(82, 128, 120);
  }
  .user-messages-user {
    background-color: rgb(122, 177, 149);
  }
}

// CONTEXT MENU
.context-menu-container {
  position: absolute;
  display: none;
  background-color: rgb(192, 192, 184);
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 12px;

  .context-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .context-menu-action {
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: azure;
      border-radius: 12px;
    }
  }
}

// MESSAGES INPUT
.chat-input {
  display: flex;
  column-gap: 12px;

  .input__user-messages {
    width: 100%;
    height: 20px;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 8px;
  }

  .button__user-messages-send {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 4px 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
