.container__chat {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 20px auto;
}

// MESSAGES HEADER

.chat-header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(147, 168, 168, 0.5);
  padding: 18px;
  border-radius: 20px;
}

// MESSAGES HISTORY
.chat-history {
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20px 0;
  scrollbar-color: rgb(134, 130, 130) #f0f0f0;
  scrollbar-width: thin;

  .message-separator-container {
    display: flex;
    justify-content: center;

    .message-separator-text {
      border-radius: 20px;
      background-color: rgba(160, 71, 71, 0.5);
      padding: 12px 28px;
      font-size: 14px;
      font-style: italic;
      color: rgb(63, 13, 13);
    }
  }

  .user-message-container {
    display: flex;
    flex-direction: column;

    width: 96%;
    margin: 20px;
  }

  .user-message-container-me {
    align-items: flex-end;
  }
  .user-message-container-user {
    align-items: flex-start;
  }

  .user-message-bulb {
    min-width: fit-content;
    border-radius: 20px;
    padding: 16px 16px 8px 16px;
  }

  .user-message-info-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 6px;
    color: rgb(38, 38, 38);
    font-size: 12px;
    padding-top: 6px;

    .user-message-edited {
      color: rgb(15, 76, 110);
      font-style: italic;
    }

    .user-message-status-container {
      display: flex;

      & path {
        stroke: rgba(65, 65, 65, 0.575);
      }

      .user-message-status-delivered {
        margin-right: -5px;
        .message-status-delivered path {
          stroke: #0a445f;
        }
      }
      .user-message-status-read {
        .message-status-read path {
          stroke: #1a7536;
        }
      }
    }
    .user-message-menu {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .user-messages-me {
    // background-color: rgb(82, 128, 120);
    background-color: rgb(137, 167, 192);
  }
  .user-messages-user {
    // background-color: rgb(122, 177, 149);
    background-color: rgb(167, 207, 182);
  }
}

// CONTEXT MENU
.context-menu-container {
  position: absolute;
  display: none;
  background-color: rgb(192, 192, 184);
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 12px;

  .context-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .context-menu-action {
    padding: 10px;

    &:hover {
      cursor: pointer;
    }

    &-edit:hover {
      background-color: rgb(51, 150, 76);
      border-radius: 12px 12px 0 0;
    }

    &-delete:hover {
      background-color: rgba(179, 67, 67, 0.925);
      border-radius: 0 0 12px 12px;
    }
  }
}

// MESSAGES INPUT
.chat-input {
  display: flex;
  column-gap: 12px;

  .input__user-messages {
    width: 100%;
    height: 20px;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 8px;
  }

  .button__user-messages-send {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 4px 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
