.main__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container__login-box {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

.form__login {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-end;
  max-width: 380px;

  label {
    padding-right: 10px;
  }

  .input__login {
    height: 22px;
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid rgb(183, 187, 187);
  }

  .container__login-button {
    .button__about {
      margin-right: 10px;
    }
  }
}

.input__incorrect {
  background-color: rgba(255, 0, 0, 0.158);
}

.input__correct {
  background-color: rgba(45, 192, 77, 0.158);
}

.container__login-message {
  height: 22px;
  text-align: end;
  padding-top: 8px;

  .text__login-message {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: red;
  }
}

.login-about-app {
  color: grey;
  text-align: center;
  padding: 0;
  margin: 0;
}
