// Winner Modal window 

#modal__container {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(24, 28, 41, 0.8);
    align-items: center;
    justify-content: center;
}

.modal__race-winner {
    display: flex;
    flex-direction: column;
    // max-width: 400px;
    // height: fit-content;
    width: 320px;
    height: 300px;
    margin: 0 8px;
    background-color: #ECF3F8;
    border-radius: 20px;

    transform: scale(0);
    opacity: 0;
    transition: all 0.4s;

    text-align: center;

    &-open {
        transform: scale(1);
        opacity: 1;
    }
}

#modal__race-winner-title {
    margin-top: 20px;
}
#modal__race-winner-car {
    padding: 8px;
}
#modal__race-winner-car p{
    font-size: larger;
    letter-spacing: 2px;
}

#button__race-winner-close {
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
