html,
body {
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
}

#root {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;

  // background-color: cadetblue;
  // background-color: rgb(190, 190, 190);
}
