@font-face {
  font-family: "CaveatBrush-Regular";
  src: url("/src/assets/fonts/CaveatBrush-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Serif Text";
  src: url("/src/assets/fonts/DM_Serif_Text/DMSerifText-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DM Serif Text Italic";
  src: url("/src/assets/fonts/DM_Serif_Text/DMSerifText-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f0f4f9;
}

#root {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;

  .button {
    border-radius: 4px;
    border: 1px solid rgb(183, 187, 187);
    padding: 8px 12px;

    &:hover {
      cursor: pointer;
    }
  }
}

// Text
.text__standart {
  font-family: Arial, Helvetica, sans-serif;
}

.text__header-fun {
  font-family: "CaveatBrush-Regular";
}

.text__info-italic {
  font-family: "DM Serif Text Italic";
}
