.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: 0 6%;

  .button__about {
    margin-right: 10px;
  }

  .text__header-user-name {
    font-family: "DM Serif Text";
    letter-spacing: 0.16em;
  }
}
