.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6%;

  .button__logout {
    border: 1px solid grey;
    border-radius: 8px;
    height: 38px;
    padding: 4px 10px;

    &:hover {
      cursor: pointer;
    }
  }
  // background-color: aqua;
}
