.container__winners-title {
  text-align: center;
}

.container__winners-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
th,
td {
  border: 1px solid rgb(150, 150, 150);
  border-collapse: collapse;
  width: 800px;
  padding: 8px;
  text-align: center;
}

.table__winners {
  &-header {
    background-color: rgb(171, 209, 209);
  }

  &-header th {
    background-color: rgb(171, 209, 209);
  }

  &-header-sort {
    cursor: pointer;
  }

  &-data {
    svg {
      height: 30px;
    }
  }
  &-data:hover {
    background-color: rgb(248, 188, 57);
  }
}

.table__winners-name {
  width: 50%;
}

#table__car-name {
  width: 320px;
}

.container__pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .text__total-pages {
    padding: 10px;
  }

  .button__pagination {
    height: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
